a.btn > i.fa:after,
button.btn > i.fa:after {
    /*为在按钮里的fa图标加上一个空格的间距*/
    content: '\00A0';
}

i.fa-spinner:after {
    /*加载时的旋转图标后不加空格，否则会导致图标抖动*/
    content: '';
}

.centerbox {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}

.unseen {
    display: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #428bca;
}

/* bootstrap 按钮样式 */
.btn {
    padding: 3px 10px;
}
/* 对 easyui datagrid-cell 下的 .btn 不作处理*/
.datagrid-cell .btn {
    padding: 0;
}

.layui-layer-title {
    font-weight: bold;
    font-size: 20px !important;
    background-color: #ddd !important;
}
