<?xml version="1.0" encoding="utf-8"?>
  <log4net>
    <!-- 错误日志类-->
    <logger name="errLog">
      <level value="ALL" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <!-- 错误日志附加介质-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件路径，会自动创建-->
      <param name="File" value="Log\\LogError\\" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--log备份文件最大数量，超过设置数量会滚动覆盖之前的日志-->
      <param name="MaxSizeRollBackups" value="2" />
      <!--最大文件大小，默认10MB（数据类型：long）等同于maximumFileSize参数-->
      <param name="MaxFileSize" value="10485760" />
      <!--最大文件大小（KB/MB/GB）-->
      <!--<param name="MaximumFileSize" value="1MB" />-->
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <!--日志文件名格式为:2019-10-09.log-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.htm&quot;" />
      <!--日志滚动方式：混合方式（文件大小和日期）-->
      <param name="RollingStyle" value="Composite" />
      <!--异常日志布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=red&gt;%n【异常时间】：%d [%t] &lt;BR&gt;%n【异常级别】：%-5p &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;" />
      </layout>
    </appender>

    <!-- 信息日志 -->
    <logger name="infoLog">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <!-- 信息日志附加介质-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LogInfo\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="2" />
      <param name="MaximumFileSize" value="1024KB" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.htm&quot;" />
      <param name="RollingStyle" value="Composite" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="&lt;HR COLOR=blue&gt;%n【日志时间】：%d [%t] &lt;BR&gt;%n【日志级别】：%-5p &lt;BR&gt;%n%m &lt;BR&gt;%n &lt;HR Size=1&gt;" />
      </layout>
    </appender>
  </log4net>