* {
    font-size: 11px;
}

html {
    font-family: 'Microsoft YaHei';
}

table {
    width: 100%;
}

table, td {
    padding: 0;
    border: solid 1px #000000;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

.table3 {
    margin-bottom: 50px;
}

.table2 td {
    height: 6mm;
}

.table3 thead td {
    height: 10mm;
}

.table3 tbody td {
    height: 8.5mm;
}

/**/
.tt1 {
    width: 2%;
}

.tt2 {
    width: 19%;
}

.tt3 {
    width: 6%;
}

.tt4 {
    width: 20%;
}

.tt5 {
    width: 11%;
}

.tt6, .tt7, .tt8, .tt9, .tt10 {
    width: 3%;
}

.tt11, .tt12, .tt13, .tt14 {
    width: 4.5%;
}

.tablex {
    border: none;
}

    .tablex td {
        height: 6mm;
        border-bottom: none;
        border-top: none;
    }

.smallFontSize {
    font-size: 12px;
}